<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div style="width: 18rem; padding: 10px;">
                <ng-container *ngIf="student">
                    <div class="card border border-danger shadow-lg" style="height: 25rem;">
                        <div style="height: 70px;" class="card-header d-flex gap-2 align-items-baseline"
                            [ngStyle]="{'background-color': student.gender === 'M' ? '#00ccff' : '#ff66ff'}">
                            <academy-student-info [name]="student.name" [surname]="student.surname"
                                [age]="student.age" />
                            <i [ngClass]="student.gender === 'M' ? 'fa-solid fa-mars' : 'fa-solid fa-venus'"></i>
                        </div>

                        <div class="card-body d-flex flex-wrap justify-content-between">
                            <div>
                                <academy-student-hobbies [hobbies]="student.hobbies" />
                                <academy-student-language [languages]="student.knownLanguages" />
                            </div>
                            <button (click)="remove.emit(student)" class="btn btn-danger align-self-end">
                                Elimina
                            </button>
                            <button (click)="editStudent()" class="btn btn-info align-self-end">
                                Modifica
                            </button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
