<div class="d-flex flex-column align-items-center justify-content-center pb-2">
    <div class="d-flex flex-column gap-3">
        <div class="d-flex gap-3">
            <button type="button" class="btn btn-danger" (click)="empty()">Svuota</button>
            <button type="button" class="btn btn-primary" (click)="fill()">Ripristina</button>
            <button type="button" routerLink="new-student" class="btn btn-success" (click)="addStudent()">Aggiungi
                Studente
            </button>
        </div>
    </div>
</div>
<ng-container>
    <div class="d-flex flex-wrap" style="height: 100%">
        <ng-container *ngFor="let student of students">
            <academy-student [student]="student" (remove)="remove(student)" />
        </ng-container>
    </div>
</ng-container>
