<section class="container-fluid d-flex flex-column gap-2">
  <nav *isLogged>
    <mat-toolbar class="d-flex justify-content-around rounded fixed">
      <button class="btn btn-primary" routerLink="/students">Studenti</button>
      <button class="btn btn-primary" routerLink="/customers">Clienti</button>
      <button class="btn btn-primary" routerLink="/fatture">Fatture</button>
      <button class="btn btn-primary" routerLink="/count">Counter</button>
      <button class="btn btn-danger" (click)="logout()">Logout</button>
    </mat-toolbar>
  </nav>

  <router-outlet />
</section>

<section *ngIf="loading$ | async" class="overlay vw-100 vh-100">
  <mat-spinner [diameter]="100"></mat-spinner>
</section>
